@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
a,
p {
    margin: 0;
    padding: 0;
}

:root {
    --heading-font: "Montserrat", sans-serif;
    --para-font: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}

li,
a,
p {
    font-family: var(--para-font);
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/**
*
*Table of Contents
*
*   1.0 - Header
*    --1.1 - Site-Navigation
*
*   2.0 - Section
*    --2.1 - Container_Box
*
*   3.0 - Footer
*
*
*/

/*- 1.0 - Header 
-------------------------- */

header {
    color: #fff;
    background: rgb(36, 31, 31);
    background: linear-gradient(10deg, rgba(36, 31, 31, 1) 55%, rgba(224, 234, 236, 1) 100%);
}

/*- 1.1 - Site-Navigation 
-------------------------- */

header #site-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 50px;
    text-align: center;
}

header #site-navigation ul {
    list-style-type: none;
}

header #site-navigation ul li {
    text-decoration: none;
    display: inline-block;
    /* margin: 5px 24px; */
    letter-spacing: 2px;
}

header #site-navigation ul li a {
    padding: 5px 25px;
    text-decoration: none;
    font-weight: 600;
    color: whitesmoke;
    transition: 3s;
}

header #site-navigation ul li a:hover {
    text-decoration: overline;
}


/*- 2.0 - Section
-------------------------- */

section {
    padding: 30px 0;
    background: url('../images/bg-site3.jpg') no-repeat center center / cover;
}

/*- 2.1 -  Container_Box
-------------------------- */

section .container_box {
    display: flex;
    column-gap: 40px;
}

section .container_box .box {
    width: 100%;
    background-color: #151818b5;
    border-radius: 17px 79px 17px 10px;
    padding: 28px 34px;
    box-shadow: grey 5px 5px 5px;
}

section .container_box .box h2 {
    text-transform: uppercase;
    text-align: center;
    border-bottom:2px solid rgb(131, 164, 131);
    border-radius: 8px;
    font-size: 32px;
    color: #000000;
}
section .container_box .box p {
    margin-top: 15px;
    color: azure;
    font-style: italic;
}


/*- 3.0 - Footer
-------------------------- */

footer {
    background: rgb(224, 234, 236);
    background: linear-gradient(10deg, rgba(224, 234, 236, 1) 0%, rgba(36, 31, 31, 1) 45%);
    color: #fff;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
}