@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
a,
p {
    margin: 0;
    padding: 0;
}

:root {
    --heading-font: "Montserrat", sans-serif;
    --para-font: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}

li,
a,
p,
.btn {
    font-family: var(--para-font);
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper-form {
    max-width: 950px;
    margin: 0 auto;
    background-color: rgb(245 245 245);
}

/**
*
*Table of Contents
*
*   1.0 - Header
*    --1.1 - Site-Navigation
*
*   2.0 - Section
*    --2.1 - Container_Box
*
*   3.0 - Section(Form Section)
*    --3.1 - Heading
*    --3.2 - Form
*
*
*   4.0 - Footer
*
*/

/*- 1.0 - Header 
-------------------------- */

header {
    color: #fff;
    background: rgb(36, 31, 31);
    background: linear-gradient(10deg, rgba(36, 31, 31, 1) 55%, rgba(224, 234, 236, 1) 100%);
}

/*- --1.1 - Site-Navigation 
-------------------------- */

header #site-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 50px;
    text-align: center;
}

header #site-navigation ul {
    list-style-type: none;
}

header #site-navigation ul li {
    text-decoration: none;
    display: inline-block;
    /* margin: 5px 24px; */
    letter-spacing: 2px;
}

header #site-navigation ul li a {
    padding: 5px 25px;
    text-decoration: none;
    font-weight: 600;
    color: whitesmoke;
    transition: 3s;
}

header #site-navigation ul li a:hover {
    text-decoration: overline;
}


/*- 2.0 - Section
-------------------------- */

.box-section {
    padding: 30px 0;
    background: url('../images/bg-site3.jpg') no-repeat center center / cover;
}

/*- --2.1 -  Container_Box
-------------------------- */

.box-section .container_box {
    display: flex;
    column-gap: 40px;
}

.box-section .container_box .box {
    width: 100%;
    background-color: #000000eb;
    border-radius: 17px 79px 17px 10px;
    padding: 28px 34px;
    box-shadow: grey 5px 5px 5px;
}

.box-section .container_box .box h2 {
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid rgb(131, 164, 131);
    border-radius: 8px;
    font-size: 32px;
    color: #ffffff;
    text-shadow: grey 3px 3px 3px;
}

.box-section .container_box .box p {
    margin-top: 15px;
    color: azure;
    font-style: italic;
}

hr {
    margin: 0;
    border-top: 4px dashed grey;
}

/*-  3.0 - Section(Form Section)
-------------------------- */

.form-section {
    background: rgb(54,58,59);
    background: radial-gradient(circle, rgba(54,58,59,1) 10%, rgba(255,249,249,1) 90%);

}

/*-  --3.1 - Heading
-------------------------- */

.form-section h2 {
    
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: grey 3px 3px 2px;
}

.form-section h2 .q-mark {
    color: rgba(0, 0, 0, 0);
    text-shadow: grey 0px 0px 2px;
}

/*-  --3.2 - Form
-------------------------- */

.container_form {
    text-align: center;
    padding: 22px 0;
}

.form-group label {
    font-size: 25px;
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 10px;
}

.form-group .textarea-label label{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

.form-group input {
    display: block;
    text-align: center;
    margin: 12px auto;
    font-size: 25px;
    border-radius: 13px 13px 0px 0px;
    border-width: 0px 0px 2px 0px;
    border-color: #000000;
}

.form-group textarea {
    margin-top: 20px;
}

.btn {
    margin: 13px 5px;
    padding: 3px 14px;
    color: white;
    background-color: #151a1d;
    border: 2px solid #80808075;
    border-radius: 3px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: #80808075;
    border: 3px solid #151a1d;
    border-radius: 4px;
}

/*- 4.0 - Footer
-------------------------- */

footer {
    background: rgb(224, 234, 236);
    background: linear-gradient(10deg, rgba(224, 234, 236, 1) 0%, rgba(36, 31, 31, 1) 45%);
    color: #fff;
    text-align: center;
    padding: 20px;
    bottom: 0;
}